/*
.*

!/.github/
!/.gitignore
!/.golangci.yml
!/.goreleaser.yaml
!/.gremlins.yaml
!/.yamllint.yaml
!/.zizmor.yml
!/*_test.go
!/CLAUDE.md
!/LICENSE
!/Makefile
!/README.md
!/cliff.toml
!/cmd/
!/docs/
!/go.mod
!/go.sum
!/internal/
!/packaging/
!/scripts/
!/testdata/
!/tools/

__pycache__/
